<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>CRUD using Angular js</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>

    
  </head>
  <body ng-app="myApp" ng-controller="myController">

    <div class="container">
      <hr>
      <button type="button" class="btn btn-info btn-lg pull-right" data-toggle="modal" data-target="#myModal">Add New</button>
      <h2>All Users</h2>
      <span class="clearfix"></span>
    </hr>

    <div class="alert alert-info" ng-if="message">
      <a href="#" class="close" ng-click="clearMessage()">&times;</a>
        {{ message }}
</div>

    <table class="table table-striped">
  <thead>
    <tr>
      <th>Index</th>
      <th>Username</th>
      <th>Email</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in users">
      <td>{{$index+1}}</th>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>
        <button type="button" class="btn btn-info"data-toggle="modal" data-target="#myModalEdit" ng-click="selectUser(user)">Edit</button>
      </td>
       <td>
        <button type="button" class="btn btn-danger"data-toggle="modal" data-target="#myModalDelete"  ng-click="selectUser(user)">Delete</button>
         
       </td>
    </tr>

   
    
  </tbody>
</table>
      



    </div>

      

    <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">New User Registration</h4>
        </div>
        <div class="modal-body">

           <form class="form-horizontal"role="form">
          <div class="form-group">
    <label class="control-label col-sm-2">Username:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="newUser.username">
    </div>
  </div>

   <div class="form-group">
    <label class="control-label col-sm-2">Email:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="newUser.email">
    </div>
  </div>
    
     <div class="form-group">
    <label class="control-label col-sm-2">Fullname:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="newUser.fullName">
    </div>
  </div>
 
 
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" ng-click="saveUser()" data-dismiss="modal">Save</button>
    </div>
  </div>
</form> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModalEdit" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit this User</h4>
        </div>
        <div class="modal-body">

           <form class="form-horizontal"role="form">
          <div class="form-group">
    <label class="control-label col-sm-2">Username:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="clickedUser.username">
    </div>
  </div>

   <div class="form-group">
    <label class="control-label col-sm-2">Email:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="clickedUser.email">
    </div>
  </div>
    
     <div class="form-group">
    <label class="control-label col-sm-2">Fullname:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="clickedUser.fullName">
    </div>
  </div>
 
 
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" ng-click="updateUser()" data-dismiss="modal">Save</button>
    </div>
  </div>
</form> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModalDelete" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Are you sure?</h4>
        </div>
        <div class="modal-body">

          <strong style="color: red;">You are going to delete {{ clickedUser.fullName}}</strong>

           

         </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="deleteUser()">Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
      </div>
      
    </div>
  </div>
    
    
    


















    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>